<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drivers from date to date</title>
</head>
<body>
<center>
    <h1>Driver's list from date to date</h1>
    <br/>
    <div>
        <table border="1">
            <thead>
            <tr>
                <th scope="col">Unique driver's number</th>
                <th scope="col">Driver name</th>
                <th scope="col">Date when got job</th>
                <th scope="col">Salary</th>
                <th scope="col">Count cars assigned to the driver</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="driver : ${driverList}">
                <td th:text="${driver.getDriverId()}"></td>
                <td th:text="${driver.getDriverName()}"></td>
                <td th:text="${driver.getDriverDateStartWork()}"></td>
                <td th:text="${driver.getDriverSalary()}"></td>
                <td th:text="${driver.getCountOfCarsAssignedToDriver()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</center>
</body>
<hr>
<a th:href="@{/drivers}">Back to menu of drivers</a>
</html>