<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drivers</title>
</head>
<body>
<center>
    <h1>Drivers</h1>
    <br/>
    <a th:href="@{/drivers/new-driver}">Add driver</a>
    <br/>
    <div>
        <a th:href="@{/drivers_dto/form-range}">Choose driver from date to date</a>
    </div>
    <div>
        <table border="1">
            <thead>
            <tr>
                <th scope="col">Unique driver's number</th>
                <th scope="col">Driver name</th>
                <th scope="col">Date when got job</th>
                <th scope="col">Salary</th>
                <th scope="col">Count cars assigned to the driver</th>
                <th scope="col">Update driver</th>
                <th scope="col">Delete driver</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="driver : ${driverList}">
                <td th:text="${driver.driverId}"></td>
                <td th:text="${driver.driverName}"></td>
                <td th:text="${driver.driverDateStartWork}"></td>
                <td th:text="${driver.driverSalary}"></td>
                <td th:text="${driver.countOfCarsAssignedToDriver}"></td>
                <td>
                    <a th:href="@{/drivers/{id}/update-driver(id=${driver.driverId})}" th:text="'Update driver ' + ${driver.driverName}"></a>
                </td>
                <td>
                    <a th:href="@{/drivers/{id}/delete-driver(id=${driver.driverId})}" th:text="'Delete driver ' + ${driver.driverName}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</center>
</body>
<hr>
<a th:href="@{/}">Back to menu of motor depot</a>
</html>