<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New driver</title>
</head>
<body>
<h1>Form for adding driver</h1>
<form th:method="POST" th:action="@{/drivers}" th:object="${driver}">
<!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
    <input type="hidden" name="_method" value="POST"/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{driverName}" id="name"/>
    <br/>
    <label for="dateStartWork">Enter date when got this job</label>
    <input type="text" th:field="*{driverDateStartWork}" id="dateStartWork">
    <br/>
    <label for="salary">Enter salary: </label>
    <input type="text" th:field="*{driverSalary}" id="salary"/>
    <br/>
    <input type="submit" value="Add driver"/>
    <br/>
    <button><a th:href="@{/drivers}">Cancel</a></button>
</form>
</body>
</html>