<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update driver</title>
</head>
<body>
<h1>Updating of driver</h1>
<form th:method="PATCH" th:action="@{/drivers/{driver_id}(driver_id=${driver.driverId})}" th:object="${driver}">
    <input type="hidden" name="_method" value="PATCH"/>
    <label for="name">Update name: </label>
    <input type="text" th:field="*{driverName}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('driverName')}" th:errors="*{driverName}">Name error</div>
    <br/>
    <label for="dateStartWork">Update date when got this job</label>
    <input type="text" th:field="*{driverDateStartWork}" id="dateStartWork"/>
    <div style="color: red" th:if="${#fields.hasErrors('driverDateStartWork')}" th:errors="*{driverDateStartWork}">Name error</div>
    <br/>
    <label for="salary"> Update salary</label>
    <input type="text" th:field="*{driverSalary}" id="salary"/>
    <div style="color: red" th:if="${#fields.hasErrors('driverSalary')}" th:errors="*{driverSalary}">Name error</div>
    <br/>
    <input type="submit" value="Update driver!"/>
    <br/>
    <button><a th:href="@{/drivers}">Cancel</a></button>
</form>
</body>
</html>