<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update driver</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/drivers/{driver_id}(driver_id=${driver.getDriverId()})}" th:object="${driver}">
    <label for="name">Update name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="dateStartWork">Update date when got this job</label>
    <input type="text" th:field="*{dateStartWork}" id="dateStartWork"/>
    <br/>
    <label for="salary"> Update salary</label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <br/>
    <input type="submit" value="Update driver!"/>
    <br/>
    <button><a th:href="@{/drivers}"></a>Cancel</button>
</form>
</body>
</html>