<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<center>
    <h1>Cars</h1>
    <br>
    <a th:href="@{/cars/new-car}">Add car</a>
    <br>
    <table border="1">
        <thead>
        <tr>
            <th scope="col">Unique number car</th>
            <th scope="col">Model</th>
            <th scope="col">Unique number driver</th>
            <th scope="col">Update car</th>
            <th scope="col">Delete car</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${carList}">
            <td th:text="${car.carId}"/>
            <td th:text="${car.carModel}"/>
            <td th:text="${car.driverId}"/>
            <td>
                <a th:href="@{/cars/{id}/update-car(id=${car.carId})}"
                   th:text="'Update car ' + ${car.carModel}"></a>
            </td>
            <td>
                <a th:href="@{/cars/{id}/delete-car(id=${car.carId})}"
                   th:text="'Delete car ' + ${car.carModel}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</center>
<hr/>
<a th:href="@{/}">Back to menu of motor depot</a>
</body>
</html>