<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New car</title>
</head>
<body>
<h2>New car</h2>
<form th:method="POST" th:action="@{/cars}" th:object="${car}">
    <input type="hidden" name="_method" value="POST"/>
    <label for="model">Enter model: </label>
    <input type="text" th:field="*{carModel}" id="model"/>
    <br/>
    <label for="driver_id">Enter driver number: </label>
    <input type="text" th:field="*{driverId}" id="driver_id"/>
    <br/>
    <input type="submit" value="Add car"/>
    <br>
    <button><a th:href="@{/cars}">Cancel</a></button>
</form>
</body>
</html>